{% extends "nmanage_base.html" %}{% load humanize rtags %}
{% block content %}
<v-card style="margin: 10px;">
  <v-card-title>
    My Resources
  </v-card-title>
  <v-card-text>
    <v-container style="max-width: 100%;">
      <v-pagination v-model="page" :length="{{ page_obj.paginator.num_pages }}"></v-pagination>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">
                Resource
              </th>
              <th class="text-left">
                ID
              </th>
              <th>
                Region
              </th>
              <th class="text-left">
                Created
              </th>
              <th class="text-left">
                Actions
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for r in page_obj %}
            <tr>
              <td>
                <a href="../info/{{ r.id }}/">{{ r.name }}</a>
              </td>
              <td>
                {{ r.rid }}
              </td>
              <td>{{ r.region }}</td>
              <td>{{ r.created|naturaltime }}</td>
              <td>
                <v-select
                  outlined
                  dense
                  :items="{{ r|actions:request.user|safe }}"
                  label="Actions"
                  @change="run_action({{ forloop.counter0 }}, '{{ r.id }}', '{{ r.name|escapejs }}')"
                  v-model="resources[{{ forloop.counter0 }}]"
                ></v-select>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </template>
      </v-simple-table>
      <v-pagination v-model="page" :length="{{ page_obj.paginator.num_pages }}"></v-pagination>
    </v-container>
  </v-card-text>
</v-card>
{% endblock %}
{% block mixin %}
<script>
  var MIXIN = {
    data() {
      return {
        page : {{ page_obj.number }},
        resources: new Array({{ page_obj.object_list|length }})
      }
    },
    watch: {
      page(to, from) {
        location.href = `./?page=${to}`
      }
    },
    methods: {
      run_action(i, rid, name) {
        var ans = confirm(`Are you sure you with to ${this.resources[i]} ${name}`);
        if (ans) {
          location.href = `../action/${this.resources[i]}/${rid}/?ts=${Date.now()}`;
        } else{
          this.$nextTick(() => {
            this.$set(this.resources, i, undefined);
          });
        }
      }
    }
  };
</script>
{% endblock %}
