{% extends "nmanage_base.html" %}{% load humanize rtags %}
{% block title %}My Resources | {{ block.super }}{% endblock %}
{% block content %}
<v-card style="margin: 10px;">
  <v-card-title>
    My Resources
  </v-card-title>
  <v-card-text>
    <v-container style="max-width: 100%;">
      <div class="d-flex">
        <div>
          <form action="./" method="GET" class="d-flex align-center">
            <v-text-field name="search" outlined label="Search" dense value="{{ search }}"></v-text-field>
            <v-btn type="submit" icon small>
              <v-icon class="mdi mdi-send"></v-icon>
            </v-btn>
          </form>
        </div>
        <div class="flex-grow-1 d-flex justify-end">
          <v-pagination v-model="page" :length="{{ page_obj.paginator.num_pages }}"></v-pagination>
        </div>
      </div>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">
                Resource
              </th>
              <th class="text-left">
                Resource
              </th>
              <th class="text-left">
                Region
              </th>
              <th class="text-left">
                Type
              </th>
              <th class="text-left">
                Public IP
              </th>
              <th class="text-left">
                State
              </th>
              <th class="text-left">
                Actions
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for r in page_obj %}
            <tr>
              <td>
                <a href="../info/{{ r.id }}/">{% if r.dns %}{{ r.dns }}{% else %}{{ r.name }}{% endif %}</a>
              </td>
              <td>{{ r.rtype }}</td>
              <td>{{ r.region }}</td>
              <td>{{ r.api_data.InstanceType|default:"---" }}</td>
              <td>{{ r.api_data.PublicIpAddress|default:"---" }}</td>
              <td>{{ r.api_data.State.Name|default:"---" }}</td>
              <td class="select">
                <v-select
                  outlined
                  dense
                  :items="{{ r|actions:request.user|safe }}"
                  label="Actions"
                  @change="run_action({{ forloop.counter0 }}, '{{ r.id }}', '{{ r.name|escapejs }}')"
                  v-model="resources[{{ forloop.counter0 }}]"
                ></v-select>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </template>
      </v-simple-table>
      <div class="d-flex justify-end">
        <v-pagination v-model="page" :length="{{ page_obj.paginator.num_pages }}"></v-pagination>
      </div>
    </v-container>
  </v-card-text>
</v-card>
{% endblock %}
{% block mixin %}
<style>
  .v-text-field__details {
    display: none;
  }
</style>
<script>
  var MIXIN = {
    data() {
      return {
        page : {{ page_obj.number }},
        resources: new Array({{ page_obj.object_list|length }})
      }
    },
    watch: {
      page(to, from) {
        var url = new URL(location.href);
        url.searchParams.set('page', to);
        location.href = url.href;
      }
    },
    methods: {
      run_action(i, rid, name) {
        var ans = confirm(`Are you sure you wish to ${this.resources[i]} ${name}?`);
        if (ans) {
          location.href = `../action/${this.resources[i]}/${rid}/?ts=${Date.now()}`;
        } else{
          this.$nextTick(() => {
            this.$set(this.resources, i, undefined);
          });
        }
      }
    }
  };
</script>
{% endblock %}
